<div class="home-container">
    {{#if qtyFound}}

        
        <h1>Buscando por: <span>{{search}}</span></h1>
        <p>Foram achados <span>{{qtyFound}}</span> resultados</p>

    {{else}}

        {{!-- No search --}}
        <h1>Bem vindo ao <span>Bazaar</span>!</h1>
        <p>Busque por algo</p>

    {{/if}}

    <form action="/products/" method="get">
        <input type="text" class="input-form" name="search" placeholder="O que procura?">
        <input type="submit" value="Procurar">

        
        <div class="search-filters">
            <select name="category">
                <option value="" selected>Categoria</option>
                <option value="Carros">Carros</option>
                <option value="Eletronicos">Eletronicos</option>
                <option value="Casas">Itens para Casa</option>
                <option value="Outros">Outros</option>
            </select>

            <a href="/">Limpar</a>
        </div>  

    </form>

    {{#each products}}
        {{#with this}}
            <div class="product-container-home">
                <div class="product-info-home">
                    <h2>{{name}}</h2>
                    <p>Enviado por {{User.name}}</p>
                </div>

                <div class="price-actions">
                    <h3><span>R$ {{price}},00</span></h3>
                    <a href="/products/{{id}}">Infos produto</a>
                </div>
                </div>
        {{/with}}
    {{/each}}
</div>